
<header class="header"> 
    <h2>PelisUP!</h2>
</header>
<button type="button">Peliculas</button>
<button type="button">Series</button>
<button type="button">Todos</button>

<p class="content"> <h4> Plataforma para ver películas y series</h4>
<body>
    <form>
        <label for=" "> </label>
        <input type="text" id=" " name="nombre" placeholder="Buscar película o serie..." />
        <button type="button">Buscar</button>
    </form>
</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
    <div>
        <div>
            <footer class="footer">Todos los derechos reservados</footer>
        </div>
    </div>
</div>
